
.content-wrapper{
    display: flex;
    justify-content: center;
}

.content-detail{
    width: 70%;
}


.card-link {
    text-decoration: none;
}

header,
section {
    background-color: antiquewhite;
    padding: 2%;
}

.wa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}
